* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #4b4bb7;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #1d1d47;
    border: 2px black double;
    border-radius: 20%;
    margin: 3px;
    padding: 3px;
}

.myAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background: #4b4bb7;
    color: white;
}

.About h1 {
    font-size: 40px;
    margin: 15px 0;    
}

.About p {
    margin-bottom: 20px;
}

.myAbout button {
    padding: 10px 20px;
    border: none;
    background: #ff6b6b;
    color: white;
    cursor: pointer;
}
.myAbout button a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.myAbout img {
    width: 300px;
    border-radius: 10px;
}

.work {
    display: flex;
    text-align: center;
}

 .myWork {
    flex: 1;
    padding: 30px;
    background: #f3e6e6;
 }

 .myWork h3 {
    margin: 10px 0;
 }

 .myWork img {
    display: inline;
    height: 50px;
    width: 50px;
    
 }

 .myAbout img:hover {
    border-radius: 15px;
    border: 3px black solid;
 }